* {
    margin: 0;
    padding: 0;
}

.nav1H23 {
    background-color: #222;
}

body {
    background-color: #454444;
}

.bodyDiv1H23 {
    margin: 1vh;
}

#films-list {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 2rem;
}

.pCard {
    padding: 0;
    padding-bottom: 1rem;
    margin: 0;
}

.imgCard {
    max-height: 100%;
}

.newFilmDiv {
    border-radius: 4%;
    margin: 2% auto 5% auto;
    padding: 2%;
    display: none;
    width: 50%;
    background-color: #222222;
}

.formSection {
    display: flex
}

.formSection label {
    color: white;
    width: 20%;
}

.formSection input {
    width: 80%;
}

.card-img-top {
    max-width: 300px;
}

.poster-settings {
    max-height: 300px;
}

#new-film-button {
    display: none;
}